<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:util="http://www.springframework.org/schema/util"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <annotation-driven />
    <context:annotation-config/>
    <context:component-scan base-package="by.kholodok.coursework.service_a" />
    <context:property-placeholder location="classpath:config.properties"/>

    <beans:bean class="by.kholodok.coursework.zkshell.ZkShellClient" init-method="startTrackingServices" destroy-method="close">
        <beans:constructor-arg value="${zk.hostport}"/>
        <beans:property name="serviceData" ref="serviceDataOfA"/>
        <beans:property name="remoteServiceObserverList">
            <beans:list value-type="by.kholodok.coursework.zkshell.observer.RemoteServiceObserver">
                <beans:ref bean="remoteServiceBObserver"/>
            </beans:list>
        </beans:property>
    </beans:bean>

    <util:map id="serviceEndpoints" map-class="java.util.HashMap">
        <beans:entry key="${ep0.name}" value="${ep0.value}"/>
        <beans:entry key="${ep1.name}" value="${ep1.value}"/>
    </util:map>

    <beans:bean id = "serviceDataOfA" class="by.kholodok.coursework.zkshell.entity.ServiceData">
        <beans:property name="serviceName" value="${service.name}"/>
        <beans:property name="host" value="${service.host}"/>
        <beans:property name="port" value="${vm.service.port}"/>
        <beans:property name="endpoints" ref="serviceEndpoints"/>
    </beans:bean>

    <beans:bean id="remoteServiceBObserver" class="by.kholodok.coursework.zkshell.observer.RemoteServiceObserver">
        <beans:constructor-arg value="${observer.service.name}"/>
    </beans:bean>

    <beans:bean class="by.kholodok.coursework.zkshell.observer.ObserversProvider">
        <beans:constructor-arg>
            <beans:list value-type="by.kholodok.coursework.zkshell.observer.RemoteServiceObserver">
                <beans:ref bean="remoteServiceBObserver"/>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>
    <beans:bean class="by.kholodok.coursework.service_a.service.LogsService"/>
    <beans:bean class="by.kholodok.coursework.service_a.dao.LogsDAO"/>
    <beans:bean class="com.fasterxml.jackson.databind.ObjectMapper"/>
    <beans:bean class="by.kholodok.coursework.service_a.controller.error.ErrorMsg"/>



</beans:beans>